{% extends 'base.html.twig' %}

{% block title %}TaskList index{% endblock %}

{% block body %}
    <h1>TaskList index</h1>

    {{ include('task_list/_form.html.twig') }}

    <ul class="mx-0 px-0 my-2 todo-list">
        {% for task_list in task_lists %}
            <li class="list-item {{ task_list.done ? 'checked' : '' }}" data-id="{{ task_list.id }}" data-csrf_token="{{ csrf_token('delete' ~ task_list.id) }}"> {{ task_list.title }} <span class="delete">×</span> </li>
        {% endfor %}
    </ul>

    {#<a href="{{ path('task_list_new') }}">Create new</a>#}
{% endblock %}
